Flask==0.10.1
Flask-Bootstrap==3.3.5.2
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
gunicorn==19.3.0
itsdangerous==0.24
kombu==3.0.26
pytz==2015.4
wsgiref==0.1.2
